@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');

body {
  background-image: url('https://i.ibb.co/0mjDQM2/imgonline-com-ua-Texture-Seamless-wm-Lbulwv-A8iy.jpg');
  background-repeat: repeat;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(54, 204, 250, 0.632);
  font-family: 'Titillium Web', sans-serif;

   .bio {
     text-align: left;
   }
}

.container {
  display: flex;
  color: black;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-image: url('https://www.macmillandictionary.com/external/slideshow/full/White_full.png');
  background-size: cover;
  background-repeat: repeat;
  
  .project-cards {
    margin: 10px;
    text-align: center;
    width: 400px !important;
    height: 200px !important;
    font-family: 'Oswald', sans-serif;
    -webkit-text-stroke: 1px white;

    .project-img  {
      width: 50px !important;
      height: 50px !important;
    }
  }
}

.project-carousel {
 .project-img {
   width: 200px;
   height: 200px;
 }
}

.tech-n-projects {
  font-family: 'Oswald', sans-serif;
  color: rgb(237, 103, 45);
  -webkit-text-stroke: white;
  background-color: rgb(234, 254, 224);
  text-align: center;
  background-size: cover;
  position: relative;

  .project-img {
    max-width: 300px;
    max-height: 200px;
  }

  .project-cards {
    margin: 10px;
    width: 400px !important;
    height: 400px !important;
    align-items: center;
  }

  .project-header {
    float: left;
    margin: 50px;
    text-align: left;
    font-size: 150px;
    font-family: 'StarBoy';
  }


  .gabrielHoney {
    float: right;
    width: 340px;
    height: 340px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 25px;
  }
}

.teched {
  margin-top: 50px;
  font-family: 'Oswald', sans-serif;
  color: #52b9f0;
  text-align: center;
  background-size: cover;
  background-color: rgb(255, 241, 196);

  .tech-header {
    float: left;
    margin: 50px;
    text-align: left;
    font-size: 250px;
    width: 300px;
    font-family: 'StarBoy';
  }

  .tech-cards {
    width: 300px !important;
    height: 400px !important;
    align-items: center;
  }

  .tech-img {
    max-width: 200px;
    max-height: 200px;
  }
  .gabrielS {
    width: 300px;
    height: 340px;
    float: right;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 25px;
  }
}

.flex-wrap {
  display: flex;
  justify-content: center;
}

.img-fluid {
  width: 300px;
}

  .navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(250, 250, 250, 0.831);

    .navColor {
      margin-left: 5px;
      font-family: 'Nunito Sans', sans-serif;
    }

    .nav-title {
      font-family: "StarBoy";
      margin-left: 10px;
      font-size: 30px;
      color: rgb(143, 228, 254) !important;
    }
  }

  .sign-out {
    float: right;
  }

  .details {
    background-color: white;
  }

.create-project-image {
  width: 400px;
  height: 400px;
}

.contact-me {
  .contact-links {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
  }

  .msg {
    height: 150px;
  }
}